<div id="demo" class="carousel slide mt-5" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/la.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/chicago.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/ny.jpg" alt="New York" width="1100" height="500">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="container mt-4">
    <div class="row info">
        <div class="col-md-8 text-right">
            <p class="bolder">جمعيه اليقظة النسائية الخيرية </p>
            <p>
                قدمت جمعية اليقظه النسائية الخيريه بالطائف من قسم الانشطة بزيارة معايدة للامهاتنا وجداتنا الغاليات بمركز
                دار الرعاية للمسنات وذلك بالمشاركة مع فريق
                ( بصمة عطاء ). ووفقنا الله واياكم على كل بصمة خير
            </p>
            <p>
                قدمت جمعية اليقظه النسائية الخيريه بالطائف من قسم الانشطة بزيارة معايدة للامهاتنا وجداتنا الغاليات بمركز
                دار الرعاية للمسنات وذلك بالمشاركة مع فريق
                ( بصمة عطاء ). ووفقنا الله واياكم على كل بصمة خير
            </p>
            <p>
                قدمت جمعية اليقظه النسائية الخيريه بالطائف من قسم الانشطة بزيارة معايدة للامهاتنا وجداتنا الغاليات بمركز
                دار الرعاية للمسنات وذلك بالمشاركة مع فريق
                ( بصمة عطاء ). ووفقنا الله واياكم على كل بصمة خير
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/home.jpg" class="rounded img-fluid" alt="home">
        </div>
    </div>
    <div class="row bolder text-center mt-5">
        <span class="col-md-12"> فعاليات وانشطه</span>
    </div>
    <div class="row activites mt-3">
        <div class="col-md-4 text-center" *ngFor="let activity of activites">
            <img [src]="activity.image" class="rounded img-fluid" width="100%" height="auto" alt="activity.alt">
            <button class="btn btn-default">{{activity.button}}</button>
        </div>
    </div>
    <div class="row bolder text-center mt-5">
        <span class="col-md-12"> الشركاء</span>
    </div>

    <div class="row partners mt-3 mb-5">
        <div class="col-md-4 text-center" *ngFor="let partner of partners">
            <img [src]="partner.image" class="rounded img-fluid" width="100%" height="auto" alt="paartner.alt">
        </div>
    </div>
</div>