<section class=" header container">
    <div class="row">
        <div class="col-md-8" style="background-color: red;">
            <p>الرئيسية</p>
            <p>jhdjkdkj</p>
            <p> search</p>
        </div>
        <div class="col-md-4">
            <div class="yourOpinion">
                <p>رايك يهمنا</p>
                <p>ffff</p>
                <p>ffffff</p>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-4" style="background-color: blueviolet;">
               <p>روابط مهمه</p>
               <p>tttttttttttt</p>
               <p>tttttttttttt</p>
               <p>tttttttttttt</p>
               <p>tttttttttttt</p>
            </div>
            <div class="col-md-4" style="background-color: red;">
                <p>معلومات التواصل</p>
                <p>tttttttttttt</p>
                <p>tttttttttttt</p>
                <p>tttttttttttt</p>
                <p>tttttttttttt</p>
                <p>tttttttttttt</p>
            </div>
        </div>
    </div>
    
    <div class="copyWrite container mt-3">
      copywrite
    </div>
</section>