.bolder{
    font-weight: bolder;
    font-size:20px;
}
.gray{
    color:var(--hiden-text-color)
}

section.header {
    height: 120px;
    .col-md-8{
        .input-group-lg{
            width:60%;
            float: right;
            input{
                direction: rtl;
            }
            span{
                background-color: var(--main-color);
                color:#fff;
            }
        }
    }
    .col-md-4 {
        position: relative;
        .yourOpinion {
            height: 350px;
            width: 100%;
            position: absolute;
            border: 10px solid #fff;
            border-radius: 10px;
            background-color: #fff;
            .content{
                height: 330px;
                border: 3px solid var(--sub-main-color);
                border-radius: 10px;
                form{
                    direction: rtl;
                    button{
                        width:100%;
                        background-color:var(--main-color);
                        color: #fff;
                    }
                }
            }
        }
    }
}

section.footer {
    background-color: var(--footer-color);
div.info{
    padding-bottom:50px!important;
    div.links{
        color:#fff;
        i{
            margin-left:5px;
        }
        p.link{
         line-height:0px;
        }
    }
}
    div.copyWrite {
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--sub-main-color);
    }
}

// use mixn scss with paramater here (class section)
@media only screen and (max-width: 767px) {
    section.header {
        height: auto;
        .col-md-4 {
            position: static;
            .yourOpinion {
                height: auto;
                width: 100%;
                border: 1px solid var(--sub-main-color);
                position: static;
                background-color: #fff;
            }
        }
    }
}
@media only screen and (max-width: 433px) {
    .copyWrite{
        font-size:1.8vh;
    }
}