app-header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

app-scoial-media{
    position: fixed;
    top:100px;
    right: 0;
    z-index:1;
}
section{
    margin-top:165px;
}


@media only screen and (max-width: 991px) {
    section{
        margin-top:40px;
    }
}

