app-header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

app-scoial-media{
    position: fixed;
    top:100px;
    right: 0;
    z-index:1;
}
section{
    // background-color: palegreen;
    margin-top:100px
}

